<!-- play-list-body.component.html -->
<div class="play-list-body">
  <ul class="play-list-table-header">
    <li (click)="sortBy('name')" style="cursor: pointer;">
      Nombre ❤
      <span>{{ getSortIcon('name') }}</span>
    </li>
    <li (click)="sortBy('album')" style="cursor: pointer;">
      Álbum 🆗
      <span>{{ getSortIcon('album') }}</span>
    </li>
    <li (click)="sortBy('artist.name')" style="cursor: pointer;">
      Artista
      <span>{{ getSortIcon('artist.name') }}</span>
    </li>
    <li (click)="sortBy('duration.end')" style="cursor: pointer;">
      <i class="uil uil-clock-eight"></i>
      <span>{{ getSortIcon('duration.end') }}</span>
    </li>
  </ul>

  <!-- Aquí aplicas el pipe para ordenar -->
  <ul class="play-list-rows" *ngFor="let track of tracks | orderBy: sortField : sortOrder">
    <li class="track-name">
      <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
    </li>
    <li class="track-name-opacity">
      {{track.album}}
    </li>
    <li class="track-name-opacity">
      {{track.artist.name}}
    </li>
    <li class="track-name-opacity">
      {{track.duration.end}}s
    </li>
  </ul>
</div>


<ng-template #coverSection let-track="track">
  <div class="cover-section">
    <img class="cover-track" [src]="track.cover" [alt]="track.name">
    <div class="cover-info">
      <div class="name-track">{{track.name}}</div>
      <div class="name-track-details">{{track.artist.name}}</div>
    </div>
  </div>
</ng-template>
